@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --back-color: #dad7cd;
  --text-color-whtgr: #344e41;
  --back-div-color: #485935;
  --back-div-text-color: #dad7cd;
  --border-radius: 100px;
  --cards: 3;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: var(--back-color);
}

h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: var(--back-div-color);
  font-size: 2.5rem;
  margin-top: 30px;
  color: #dad7cd;
  background-image: linear-gradient(45deg, #dad7cd 0%, #485935 61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .upDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}
header .upDiv .iconImg {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 10px;
}
header .upDiv ul {
  margin-top: 30px;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--back-div-color);
  width: 300px;
  padding: 10px;
  border-radius: var(--border-radius);
}
header .upDiv ul li {
  display: inline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px;
}
header .upDiv ul li a {
  font-size: 0.825rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  background: var(--back-color);
  text-decoration: none;
  color: var(--text-color-whtgr);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#burger-toggle {
  display: none;
}

@media (max-width: 500px) {
  nav {
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
  }
  label {
    z-index: 200;
    position: relative;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 20px;
    width: 20px;
  }
  label::after,
  label::before,
  label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--back-div-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  label::before {
    content: "";
    top: 5px;
  }
  label::after {
    content: "";
    bottom: 0;
  }
  label span {
    top: 11px;
  }
  #burger-toggle:checked + label::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 12px;
  }
  #burger-toggle:checked + label::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 5px;
  }
  #burger-toggle:checked + label span {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 5px;
  }
  .ulWow {
    position: fixed;
    left: 50%;
    right: 50%;
    -webkit-transform: translateY(100%) translate(-50%, -50%);
            transform: translateY(100%) translate(-50%, -50%);
    background-color: #141414;
    z-index: 1000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100%;
    width: 100%;
    height: 40vh;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top 0.5s ease, opacity 0.5s ease;
    transition: top 0.5s ease, opacity 0.5s ease;
  }
  .ulWow li {
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .ulWow li a {
    font-size: 1.1rem !important;
  }
  #burger-toggle:checked + label + .ulWow {
    top: 0;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#burger-toggle:checked ~ .overlay {
  display: block;
}

@-webkit-keyframes naviAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes naviAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.allVideoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 800px;
  overflow: hidden;
  border-radius: 100px;
  background-color: black;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}

video {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.lezginkaH1 {
  color: var(--back-div-text-color);
  font-weight: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: left;
  font-size: 7.25rem;
  left: -600px;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: ;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cards h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin: 15px;
  color: var(--back-div-color);
  font-size: 2rem;
}
#cards p {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin: 15px;
  color: var(--back-div-color);
  font-size: 1rem;
}
#cards #card1 {
  --index: 1;
}
#cards #card1 .img-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  background-image: url("./img/firstCardImg.jpg");
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 140%;
  width: 100%;
}
#cards #card1 .card-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--back-color);
  width: 45%;
  top: 150px;
  position: absolute;
  text-align: right;
  left: -100px;
}
#cards #card2 {
  --index: 2;
}
#cards #card2 .img-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  background-image: url("./img/secondCardImg.jpg");
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 140%;
  width: 100%;
}
#cards #card2 .card-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--back-color);
  width: 45%;
  top: 150px;
  position: absolute;
  text-align: center;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
}
#cards #card3 {
  --index: 3;
}
#cards #card3 .img-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  background-image: url("./img/thirdCardImg.jpg");
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 140%;
  width: 100%;
}
#cards #card3 .card-body {
  -webkit-box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--back-color);
  width: 45%;
  top: 150px;
  position: absolute;
  right: -100px;
}
#cards .card {
  position: sticky;
  top: calc(var(--index) * var(--cardTopPadding) * 3);
  padding-top: calc(var(--index) * var(--cardTopPadding));
  height: 400px;
  border-radius: var(--border-radius);
  margin: auto;
  width: 50%;
}

.teacher {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.teacher .cardTeacher {
  text-align: center;
  width: 220px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--back-div-text-color);
  height: 350px;
  padding: 0.8em;
  background: var(--back-div-color);
  border-radius: 40px;
  position: relative;
  overflow: visible;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.teacher .card-img {
  background-color: #ffcaa6;
  height: 60%;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.teacher .card-info {
  padding-top: 10%;
}
.teacher .card-footer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}
.teacher .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}
.teacher .text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}
.teacher .card-img:hover {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.teacher .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.cardHoverDiv {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHover {
  width: 510px;
  height: 254px;
  background: var(--back-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  padding: 0.4em;
}

.infoSpan {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.cardHover p {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: var(--back-div-color);
  border: 1px solid var(--back-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cardHover p:hover {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.cardHover p span {
  min-width: 14em;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--back-color);
}

.cardHover p:hover span {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  margin-top: -60px;
}

.additional-info {
  position: absolute;
  bottom: 70px;
  width: 70px;
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.cardHover p:hover .additional-info {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

button {
  margin: 0.5cm;
}

.Btn {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #24a1de;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Btn:hover .BG {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(226, 226, 226, 0.466);
  background-color: rgba(204, 204, 204, 0.466);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.Btntwit {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.svgContainertwit {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGtwit {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Btntwit:hover .BGtwit {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Btntwit:hover .svgContainertwit {
  background-color: rgba(156, 156, 156, 0.466);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.Btninsta {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.svgContainerinsta {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGinsta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Btninsta:hover .BGinsta {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Btninsta:hover .svgContainerinsta {
  background-color: rgba(156, 156, 156, 0.466);
}

.Btnstock {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.svgContainerstock {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGstock {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #1877f2;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Btnstock:hover .BGstock {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Btnstock:hover .svgContainerstock {
  background-color: rgba(202, 202, 202, 0.466);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
}

@media (max-width: 1440px) {
  header .videoDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 650px;
    overflow: hidden;
    border-radius: 100px;
    background-color: black;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
  }
  header .lezginkaH1 {
    font-size: 5.5rem;
    left: -400px;
  }
  #cards #card1 .card-body {
    width: 65%;
  }
  #cards #card2 .card-body {
    width: 65%;
  }
  #cards #card3 .card-body {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
  header .videoDiv {
    margin-left: 60px;
    height: 590px;
  }
  header .lezginkaH1 {
    color: var(--back-div-text-color);
    font-weight: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-align: left;
    font-size: 5.5rem;
    left: -200px;
  }
  #cards h2 {
    font-size: 1.5rem;
  }
  #cards p {
    font-size: 0.7rem;
  }
  #cards #card1 .card-body {
    padding: 20px;
    left: -30px;
    width: 85%;
  }
  #cards #card2 .card-body {
    padding: 20px;
    top: 150px;
    left: 50%;
    width: 85%;
  }
  #cards #card3 .card-body {
    padding: 20px;
    width: 45%;
    top: 150px;
    right: -30px;
    width: 85%;
  }
  #cards .card {
    position: sticky;
    top: calc(var(--index) * var(--cardTopPadding) * 3);
    padding-top: calc(var(--index) * var(--cardTopPadding));
    height: 400px;
    border-radius: var(--border-radius);
    margin: auto;
    width: 70%;
  }
}
@media (max-width: 768px) {
  header .upDiv .iconImg {
    width: 70px;
    height: 70px;
  }
  header .upDiv ul {
    margin-top: 30px;
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--back-div-color);
    width: 255px;
    padding: 10px;
    border-radius: var(--border-radius);
  }
  header .upDiv ul li {
    display: inline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .upDiv ul li a {
    font-size: 0.65rem;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background: var(--back-color);
    text-decoration: none;
    color: var(--text-color-whtgr);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .videoDiv {
    height: 40%;
    width: 40%;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 0;
  }
  header video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  header .lezginkaH1 {
    font-size: 3rem;
    left: -50px;
  }
  #cards #card1 .card-body {
    padding: 20px;
    left: -30px;
    width: 75%;
  }
  #cards #card2 .card-body {
    padding: 20px;
    top: 150px;
    left: 50%;
    width: 75%;
  }
  #cards #card3 .card-body {
    padding: 20px;
    width: 45%;
    top: 150px;
    right: -30px;
    width: 75%;
  }
  #cards .card {
    position: sticky;
    top: calc(var(--index) * var(--cardTopPadding) * 3);
    padding-top: calc(var(--index) * var(--cardTopPadding));
    height: 400px;
    border-radius: var(--border-radius);
    margin: auto;
    width: 90%;
  }
  .cardHover {
    width: 370px;
    height: 200px;
    background: var(--back-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    padding: 0.4em;
  }
  .infoSpan {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .cardHover p {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: var(--back-div-color);
    border: 1px solid var(--back-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .cardHover p:hover {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .cardHover p span {
    min-width: 14em;
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    color: var(--back-color);
  }
  .cardHover p:hover span {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    margin-top: -60px;
  }
  .additional-info {
    position: absolute;
    font-size: 0.875rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .cardHover p:hover .additional-info {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 425px) {
  header .videoDiv {
    height: 270px;
  }
  header .lezginkaH1 {
    font-size: 2rem;
  }
  #cards h2 {
    font-size: 1rem;
  }
  #cards p {
    font-size: 0.5rem;
  }
  #cards #card1 .card-body {
    opacity: 0.9;
    top: 35%;
    padding: 20px;
    left: 0px;
    width: 80%;
  }
  #cards #card2 .card-body {
    opacity: 0.9;
    padding: 20px;
    top: 35%;
    left: 50%;
    width: 80%;
  }
  #cards #card3 .card-body {
    opacity: 0.9;
    padding: 20px;
    top: 40%;
    right: 0px;
    width: 80%;
  }
  #cards .card {
    position: sticky;
    top: calc(var(--index) * var(--cardTopPadding) * 3);
    padding-top: calc(var(--index) * var(--cardTopPadding));
    height: 200px;
    border-radius: 10px;
    margin: auto;
    width: 90%;
  }
  .teacher {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .teacher .cardTeacher {
    text-align: center;
    width: 180px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--back-div-text-color);
    height: 300px;
    padding: 0.8em;
    background: var(--back-div-color);
    border-radius: 40px;
    position: relative;
    overflow: visible;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .teacher .card-img {
    background-color: #ffcaa6;
    height: 50%;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .teacher .card-footer {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
  .cardHover {
    width: 300px;
    height: 200px;
    background: var(--back-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    padding: 0.4em;
  }
  .infoSpan {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .cardHover p {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: var(--back-div-color);
    border: 1px solid var(--back-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .cardHover p:hover {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .cardHover p span {
    min-width: 14em;
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    color: var(--back-color);
  }
  .cardHover p:hover span {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    margin-top: -60px;
  }
  .additional-info {
    position: absolute;
    font-size: 0.875rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .cardHover p:hover .additional-info {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}